{% extends '@MozzaTheme/base.html.twig' %}

{% import _self as macros %}

{% macro article(classes, post) %}
{% spaceless %}
{% if post %}
    {% set slug = post.slug %}
    {% set imageurl = post.image|topostresourceurl(post) %}
    {% set title = post.title %}
    {% set intro = post.intro|inlinemarkdown %}
    {% set date = post.date|humandate %}
    {% set author = post.author %}
    {% set twitter = post.twitter %}
    {% set content = post.content|markdown %}
    
    {% set prevpost = previouspost(post) %}
    {% if prevpost %}
        {% set followingslug = prevpost.slug %}
    {% else %}
        {% set followingslug = null %}
    {% endif %}
{% else %}
    {% set slug = '' %}
    {% set imageurl = '' %}
    {% set title = '' %}
    {% set intro = '' %}
    {% set date = '' %}
    {% set author = '' %}
    {% set twitter = '' %}
    {% set content = '' %}

    {% set followingslug = '' %}
{% endif %}
{% endspaceless %}
<article class="page {{ classes }}" data:slug="{{ slug }}" data:followingslug="{{ followingslug }}">
    <div class='big-image' style="background-image: url({{ imageurl }});">
        <div class='inner'>
            <div class='fader'>
                <div class='text'>
                    <a class='goto-next'>Read Next</a>
                    <h1 class='title'>{{ title|raw }}</h1>
                    <h2 class='description'>{{ intro|raw }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class='content'>
        <h3 class='byline'>
            Published <time>{{ date|raw }}</time> by <span class='author'>{% if twitter is defined and twitter|length %}<a href="http://twitter.com/{{ twitter }}">{{ author|raw }}</a>{% else %}{{ author|raw }}{% endif %}</span>.
        </h3>
        <h1 class='title'>{{ title|raw }}</h1>
        <h2 class='description'>{{ intro|raw }}</h2>
        <div class='text'>
            
            {{ content|raw }}

        </div>
    </div>
</article>
{% endmacro %}

{% block body %}

{% set posturl = app.url_generator.generate('post', { slug: post.slug }) %}
{% set homeurl = app.url_generator.generate('home') %}

{{ macros.article('current', post) }}

{% if previouspost is defined and previouspost %}
    {{ macros.article('following content-hidden', previouspost) }}
{% else %}
    {{ macros.article('following content-hidden next-hidden') }}
{% endif %}

{% endblock body %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    window.siteurl = {{ '/'|toabsoluteurl|json_encode|raw }};
    window.posturl = {{ path('post', { slug: '=slug=' })|toabsoluteurl|json_encode|raw }};
    window.jsonposturl = {{ path('json.post', { slug: '=slug=' })|toabsoluteurl|json_encode|raw }};
    window.titlepattern = {{ documenttitleforposttitle('=posttitle=')|json_encode|raw }};

    window.posts = {};
    window.posts[{{ post.slug|json_encode|raw}}] = {{ post|serializepost|json_encode|raw }};
    {% if previouspost is defined and previouspost %}
    window.posts[{{ previouspost.slug|json_encode|raw}}] = {{ previouspost|serializepost|json_encode|raw }};
    {% endif %}
    require(['post/main']);
</script>
{% endblock %}