<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% if post is defined %}{{ component_metatags(post) }}
    {% else %}{{ component_metatags() }}
    {% endif %}

    <meta name="viewport" content="initial-scale=1.0, width=device-width, minimum-scale=1.0, maximum-scale=2.0">
    
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <!-- Theme Styles -->
    <link rel='stylesheet' href='{{ app.request.basepath }}/vendor/netgusto/pulpy-theme-medium/assets/css/menu/normalize.css' type='text/css'>
    <link rel='stylesheet' href='{{ app.request.basepath }}/vendor/netgusto/pulpy-theme-medium/assets/css/menu/component.css' type='text/css'>
    <link rel='stylesheet' href='{{ app.request.basepath }}/vendor/netgusto/pulpy-theme-medium/assets/css/styles.css' type='text/css'>
    <link rel='stylesheet' href='{{ app.request.basepath }}/vendor/netgusto/pulpy-theme-medium/assets/css/pulpy.css' type='text/css'>

    <!-- Modernizr -->
    <script type="text/javascript" src="{{ app.request.basepath }}/vendor/modernizr/modernizr/modernizr.min.js"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/font-awesome/font-awesome/css/font-awesome.min.css">

    <!-- Highlightjs Styles for this theme -->
    <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/zipball/highlightjs/styles/railscasts.css">

    {% block head %}
    {% include '@Custom/head.html.twig' %}
    {% endblock head %}
</head>
<body class="{% block bodyclass %}{% endblock %}">

    {% block header %}{% endblock header %}

    <div class="mp-container">
        <!-- Push Wrapper -->
        <div class="mp-pusher" id="mp-pusher">
     
            <!-- mp-menu -->
            <nav id="mp-menu" class="mp-menu">
                <div class="mp-level">
                    <p class="columnheader">{{ site.title }}</p>
                    <ul>
                        <li>
                            <a href="/"><i class="fa fa-home"></i> Home</a>
                        </li>
                        {% if posts is defined and posts|length %}
                        <li>
                            <a href="#"><i class="fa fa-history"></i> Archives</a>
                            <div class="mp-level postslist">
                                <p class="columnheader"><i class="fa fa-history"></i> Archives</p>
                                <ul>
                                    {% set year = null %}
                                    {% for archivedpost in posts %}
                                    {% if year != archivedpost.date|date('Y') %}
                                        {% set year = archivedpost.date|date('Y') %}
                                        <li class="year">{{ year }}</li>
                                    {% endif %}
                                    <li class="postitem"><a href="{{ posturl(archivedpost.slug) }}"><time>{{ archivedpost.date|humandate }}</time><span class="title">{{ archivedpost.title }}</span></a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        {% endif %}
                        {% if site.about is defined and site.about.slug is defined and site.about.slug|length %}
                        <li>
                            <a href="{{ posturl(site.about.slug) }}"><i class="fa fa-asterisk"></i> About</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <!-- /mp-menu -->

            <!-- menu trigger outside the scrolled, for the fixed positionning to not bug in iOS -->
            <p id="menu-trigger"><a id="trigger" class="fa fa-asterisk"></a></p>
     
            <div class="scroller"><!-- this is for emulating position fixed of the nav -->
                <div class="scroller-inner">
                    <!-- site content goes here -->
                    {% block body %}{% endblock body %}
                    </div>
                </div><!-- /scroller-inner -->
            </div><!-- /scroller -->
     
        </div><!-- /pusher -->
    </div><!-- /container -->

    {% block footer %}{% endblock footer %}

    {% block javascripts %}
    <script type="text/javascript" src="{{ app.request.basepath }}/vendor/requirejs/requirejs/require.js"></script>
    <script type="text/javascript">
        require.config({
            baseUrl: '{{ app.request.basepath }}/vendor/netgusto/pulpy-theme-medium/assets/js',
            paths: {
                'jquery': '{{ app.request.basepath }}/vendor/jquery/jquery/jquery-2.1.0.min',
                'highlightjs': '{{ app.request.basepath }}/vendor/zipball/highlightjs/highlight.pack'
            },
            shim: {}
        });
    </script>
    {% endblock %}

    {{ component_googleanalytics() }}

</body>
</html>